.App-header {
  background-color: #000;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; 
}

.header-left {
  display: flex;
  align-items: center;
}
.company-name {
  color: white;
}

.company-logo {
  width: 40px; 
  height: 40px; 
  margin-right: 10px; 
}

.company-logo img {
  max-width: 100%;
}

.header-right {
  display: flex;
  align-items: center;
}
.line{
  color: #eab676;
  font-size: 35px;
  padding-right: 10px;
}

.course-button {
  background-color: #FFFF00;
  color: #282c34;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}
.cover-section {
  overflow: hidden; 
}
.cover-picture {
  width: 100%;
  height: auto;
}


.profile-info {
  position: relative;
  margin-top: -40px; 
  z-index: 1;
  text-align: center;
}
.profile {
  position: relative;
}

.profile-picture {
  width: 150px;
  height: 150px; 
  border-radius: 50%; 
  object-fit: cover; 
  border: 3px solid #BBEBF1; 
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; 
}
.user-details {
  text-align: center;
  margin-top: 150px;
  color: #000;
   
}
.user-details h3{
  font-size: 40px;
}
.verified-icon {
  width: 20px; 
  height: 20px; 
  margin-left: 5px; 
}
.follower-info {
   
  text-align: center; 
  
  
}

.follower-info p {
  padding: 8px; 
  border-radius: 8px;
  border: 2px solid #282c34;
  margin: 0;
  color: #000; 
  font-size: 18px;
}
.follower-info span {
  color: grey;
  font-size: 14px; 
  font-weight: bold;
}

.follower-box {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 5px;
}
.bio-section {
  text-align: center;
  margin-top: 20px; 
}
.bio-section .insta{
  color: skyblue;
}
.reaction-icons {
  display: flex;
  justify-content: center;
  gap: 50px; 
  margin-top: 10px;
}
.reaction-icons p{
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-left: -30px;
  margin-top: 4px;
}
.reaction-icons .star {
  background-color: #4CAF50; 
}
.reaction-icons .like {
  background-color: #9dbb07; 
}
.reaction-icons .eye {
  background-color: grey; 
}
.reaction-icons .heart {
  background-color: #f44336;
}
.reaction-icons svg {
  width: 20px; 
  height: 20px; 
  padding: 8px; 
  border-radius: 8px;
  color: #fff; 
  cursor: pointer;
}


.post-info-box {
  display: inline-block; 
  padding: 8px; 
  text-align: center; 
  margin-top: -40px; 
  padding-left: 190px;
}

.post-info-box p {
  padding: 8px;
  border-radius: 8px; 
  border: 2px solid #282c34;
  color: blue;
  font-weight: bold;
}





.like-heading {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 10px; 
  font-size: 25px;
}

.like-heading .like{
  background-color: #9dbb07; 
  margin-left: 600px;

}

.sub-heading {
  text-align: left;
  margin-left: 200px;
  margin-right: 400px;
  font-size: 20px;
}
.metadata {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px; 
  margin-top: 50px;
}
.metadata span{
  color: #11bfef; 

}
.left-text {
  padding-left: 200px;
  color: grey;
}
.right-text {
  padding-right: 200px;
  color: grey;
}





/* Adjust styles for smaller screens */

@media (max-width: 650px) {
  .App-header {
    height: 8vh;
    flex-direction: initial;
    align-items: center;
  }

  .header-left,
  .header-right { 
    margin-bottom: 10px;
  }
  .company-name{
    font-size: 20px;
  }
  .company-logo {
    width: 20px; 
    height: 20px;

  }
  .line {
    font-size: 25px; 
  }
  .course-button {
    margin-top: 10px; 
    max-width: 100%;
    padding-right: 20px;
  }
  .cover-picture {
    max-width: 100%; 
    height: auto;
  }
  .profile-info {
    margin-top: -20px; 
  }
  .profile-picture {
    top: 0;
    left: 15%;
  }
  .user-details{
    margin-top: 40px;
    margin-left: -30px;
  }
  .user-details h3{
    font-size: 25px;
  }
  .verified-icon {
    width: 15px; 
    height: 15px; 
  }
  .follower-box {
    gap: 20px; 
  }
  .follower-info p {
    font-size: 16px; 
  }

  .bio-section {
    text-align: left;
    margin-left: 40px;
  }
  .reaction-icons {
    order: -1; 
    margin-left: -130px;
    gap: -20px;
    
  }
  .reaction-icons p{
    font-size: 16px;
    margin-left: -60px;
    margin-top: 4px;
    padding-left: 20px;
  }
  .reaction-icons svg {
    width: 12px; 
    height: 12px; 
  }
  .post-info-box {
    padding-left: 20px; 
    margin-top: -50px; 
  }
  .like-heading {
    gap: 20px; 
    font-size: 15px; 
    margin-left: 20px;
    margin-top: -30px;
  }
  .like-heading .like{
    margin-left: 50px;
  
  }
  .sub-heading {
    margin-left: 20px;
    margin-right: 20px; 
    font-size: 20px; 
    padding-right: 50px;
  }
  .metadata {
    margin-top: 20px; 
    margin-bottom: 20px; 
  }
  .left-text,
  .right-text {
    padding-left: 20px; 
    padding-right: 30px;
    font-size: 15px;
  }
  .right-text{
    margin-right: 50px;
  }
  
}

@media (max-width: 815px){
  .profile-picture {
    top: 0;
    left: 12%;
  }
  .user-details{
    margin-top: 30px;
    margin-left: 20px;
  }
  .profile-info {
    margin-top: -20px; 
  }
  .bio-section {
    text-align: left;
    margin-left: 40px; 
  }
  .reaction-icons {
    order: -1; 
    margin-left: -100px;
    gap: -20px;
    
  }
  .post-info-box {
    padding-left: 20px; 
    margin-top: -50px; 
  }

.like-heading {
  gap: 180px; 
  font-size: 15px; 
  margin-left: 40px;
  margin-top: -30px;
}
.like-heading .like{
  margin-left: 60px;

}
.sub-heading {
  margin-left: 30px; 
  margin-right: 20px;
  font-size: 20px; 
  padding-right: 50px;
}
.left-text,
.right-text {
  padding-left: 20px; 
  padding-right: 30px;
  font-size: 15px;
}
}

@media (max-width: 900px){
  .profile-picture {
    top: 0;
    left: 10%;
  }
  .user-details{
    margin-top: 30px;
    margin-left: -160px;
  }
  .profile-info {
    margin-top: -20px; 
  }
  .bio-section {
    text-align: left;
    margin-left: 30px; 
  }
  .reaction-icons {
    order: -1; 
    margin-left: -100px;
    gap: -20px;
    
  }
  .post-info-box {
    padding-left: 20px; 
    margin-top: -50px; 
  }

.like-heading {
  gap: 180px; 
  font-size: 15px; 
  margin-left: 40px;
  margin-top: -30px;
}
.like-heading .like{
  margin-left: 60px;

}
.sub-heading {
  margin-left: 30px; 
  margin-right: 20px; 
  font-size: 20px;  
  padding-right: 50px;
}
.left-text,
.right-text {
  padding-left: 20px; 
  padding-right: 30px;
  font-size: 15px;
}
}



@media (max-width: 544px) {
  
  .profile-picture {
    top: 0;
    left: 20%;
  }
  .user-details{
    margin-top: 40px;
    margin-left: 70px;
  }
  .like-heading {
    gap: 20px; 
    font-size: 15px; 
    margin-left: 20px;
    margin-top: -30px;
  }
  .reaction-icons {
    margin-left: -30px;
    gap: 40px;
    
  }
  .reaction-icons p{
    font-size: 11px;
    margin-left: -50px;
    padding-left: 25px;
  }
  .reaction-icons svg {
    width: 10px;
    height: 10px; 
  }
  .left-text,
  .right-text {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
  }
  .right-text{
    margin-right: 20px;
  }
}

@media (max-width: 391px) {
  
  .profile-picture {
    top: 0;
    left: 18%;
    height: 100px;
    width: 100px;
  }
  .profile-info {
    margin-top: -15px; 
  }
  .user-details{
    margin-top: 20px;
    margin-left: 50px;
  }
  .reaction-icons {
    margin-left: -30px;
    gap: 25px;
    
  }
  .reaction-icons p{
    margin-left: -40px;
  }
  .like-heading {
    gap: 20px; 
    font-size: 12px; 
    margin-left: 20px;
    margin-top: -30px;
  }
  .sub-heading {
    margin-top: -10px; 
    font-size: 13px; 
  }
  .left-text,
  .right-text {
    padding-left: 20px; 
    padding-right: 20px;
    font-size: 10px;
  }
  .right-text{
    margin-right: 10px;
  }

}

@media (max-width: 415px) {
  
  .profile-info {
    margin-top: -15px; 
  }
  .user-details{
    margin-top: 35px;
    margin-left: 80px;
  }
  .like-heading {
    gap: 20px; 
    font-size: 13px; 
    margin-left: 20px;
    margin-top: -30px;
  }
}

@media (max-width: 361px) {

  .profile-picture {
    top: 0;
    left: 15%;
    height: 80px;
    width: 80px;
  }
  
  .profile-info {
    margin-top: -15px; 
  }
  .user-details{
    margin-top: 25px;
    margin-left: 10px;
  }
  .user-details h3{
    font-size: 20px;
  }
}



@media (max-width: 398px) {
  
  .profile-info {
    margin-top: -15px; 
  }
  .profile-picture {
    top: 0;
    left: 20%;
    height: 120px;
    width: 120px;
  }
  .user-details{
    margin-top: -20px;
    margin-left: 100px;
  }
  .like-heading {
    gap: 20px; 
    font-size: 13px; 
    margin-left: 20px;
    margin-top: -30px;
  }
  .left-text,
.right-text {
  padding-left: 15px; 
  padding-right: 2px;
  font-size: 13px;
}
.follower-box {
  gap: 30px;
  margin-top: -10px;
  margin-left: -15px;
}
  
}
